body {
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  @include font-size(16px);

  @include media-breakpoint-up(lg) {
    @include font-size(18px);
  }
}

a.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  transition: top 1s ease-out;

  &:focus {
    background-color: $red;
    color: $white;
    left: 4px;
    padding: 1rem;
    text-decoration: underline;
    top: 4px;
    transition: top 0.1s ease-in;
    z-index: 10;
  }
}

.container {
  max-width: 1140px !important;
  padding-right: $spacer !important;
  padding-left: $spacer !important;

  @include media-breakpoint-up(xl) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

hr {
  border-top: 1px solid $gray-200;
  margin: 15px 0;

  @include media-breakpoint-up(lg) {
    margin: 30px 0;
  }
}

// All images responsive by default
img {
  width: 100%;
  height: auto;
}

